<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

    <bean id="book" class="com.example.bookstore.Book">
    </bean>

    <bean id="databaseManager" class="com.example.bookstore.DatabaseManager">
    </bean>

    <bean id="booksController" class="com.example.bookstore.BooksController">
    </bean>

    <bean id="bookstoreApiUsingSpringBootApplication" class="com.example.bookstore.BookstoreApiUsingSpringBootApplication">
    </bean>

</beans>